* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: greenyellow;
    color: blueviolet;
    font-family: cursive;
    text-align: center;
}

ul li {
    cursor: pointer;
}

div button i {
    cursor: pointer;

}

h1 {
    font-size: 5rem;
    text-align: center;
}

.submit {
    border-radius: 8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-trash,
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}